html { 
    scroll-behavior: smooth; 
}
.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #2b2c34;
    margin: 0 auto 25px auto;
}
.section-header {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    /* margin: 0.5rem 0 0 0; */
    font-size: 2rem;
    padding: 3rem 0;
    font-weight: bold;
    animation: letters 1s ease-in;
}
#about {
    background-color: rgb(227, 227, 227);
}
#experience {
    background-color: rgb(227, 227, 227);
}
#contact {
    background-color: rgb(227, 227, 227);
    
}
.section-header-icon {
    width: 30px;
    margin-left: 10px;
    /* height: 30px; */
}
@keyframes letters {
    from {letter-spacing: 6rem;}
    to {letter-spacing: 0.1rem;}
}
.technologies-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto 25px auto;
}