.head-main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;    
}
.head-links-section {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
    /* flex-direction: column; */
}
.header-site-title {
    color: #2b2c34;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
}
.header-links {
    color: #2b2c34;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}
.header-dropdown-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    top: 4rem;
    border-top: 0.5px solid #2b2c34;
    background: white;
    visibility: hidden;
}
.header-dropdown-links {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #2b2c34;
    /* background: rgb(204, 204, 204); */
     /* Fallback for older browsers without RGBA-support */
}
@media(max-width: 600px) {
    .header-links {
        visibility: hidden;
    }
    .header-dropdown-section {
        visibility: visible;
    }
}