.about-resume-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
.resume-section {
    align-self: center;
}
.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    /* background:  #fffffe; */
}
.about-me-img-box {
    flex: 1;
    text-align: end;
}
.info-desc-section {
    display: flex;
    flex-direction: row;
    color: black;
    /* color:#6246ea; */
    font-size: 2.1rem;
    font-weight: bold;
    flex: 1;
}
.Typewriter {
    padding-left: 0.4rem;
}
.resume-button {
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 3px;
    background: #6246ea;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
@media (orientation: landscape) {
    .my-avatar {
        transform: scale(0.75);
    }
}
@media(max-width: 650px) {
    .about-section  {
        flex-direction: column;
        justify-content: center;
    }
    .about-me-img-box {
        flex: none;
    }
    .info-desc-section {
        flex: none;
        font-size: 1.4rem;
        margin-top: 20px;
    }
}
@media(max-width: 768px) {
    .info-desc-section {
        font-size: 1.6rem;
    }
}
@media(max-width: 240px) {
    .info-desc-section {
        flex: none;
        font-size: 1rem;
        margin-top: 5px;
    }
}